extends layouts/default

block page-title
    | Color variants


block breadcrumb
    +breadcrumb('index.html') Home
    +breadcrumb('color-variants.html', true) Color variants


block content
    .row
        .col-md-12
            .tabbable
                ul.nav.nav-tabs
                    each component, i in ['Alert', 'Text', 'BG', 'Label', 'Button', 'Button-outline', 'Progress']
                        - var liClass = (i === 0 ? 'active' : '');
                        li.nav-item(class=liClass)
                            a.nav-link(data-toggle='tab', href='#variant_' + component.toLowerCase(), aria-expanded='true')
                                i.color-green-500.tab-icon.fa.fa-pencil-square-o
                                |  #{component}

                .tab-content
                    #variant_alert.tab-pane.fade.active.in
                        each color in Object.keys(material.colors)
                            .row
                                each variant in ['-light', '', '-dark']
                                    .col-md-4
                                        .alert(class=color + variant).fade.in.pt-sm.pb-sm.fs-11
                                            strong= '.' + color + variant
                                            |  Also using .pt-sm .pb-sm .fs-11

                    #variant_text.tab-pane.fade
                        each color in Object.keys(material.colors)
                            .row
                                each variant in ['-light', '', '-dark']
                                    .col-md-4
                                        span(class='text-' + color + variant)='.text-' + color + variant

                    #variant_bg.tab-pane.fade
                        each color in Object.keys(material.colors)
                            .row.pl.pr
                                each variant in ['-light', '', '-dark']
                                    .col-md-4(class='bg-' + color + variant): span='.bg-' + color + variant

                    #variant_label.tab-pane.fade
                        each color in Object.keys(material.colors)
                            .row.pl.pr
                                each variant in ['-light', '', '-dark']
                                    .col-md-4.text-center
                                        span.label.mr(class=color + variant)='.' + color + variant
                                        span.label.label-pill(class=color + variant)='.' + color + variant

                    #variant_button.tab-pane.fade
                        each color in Object.keys(material.colors)
                            .row.pl.pr.mb-xs
                                each variant in ['-light', '', '-dark']
                                    .col-md-4
                                        a.btn.btn-sm.btn-block(class=color + variant)='.' + color + variant

                    #variant_button-outline.tab-pane.fade
                        each color in Object.keys(material.colors)
                            .row.pl.pr.mb-xs
                                each variant in ['-light', '', '-dark']
                                    .col-md-4
                                        //btn-#{$color-name}-dark-outline
                                        a.btn.btn-sm.btn-block(class='btn-' + color + variant + '-outline')='btn-' + color + variant + '-outline'

                    #variant_progress.tab-pane.fade
                        each color in Object.keys(material.colors)
                            .row.pl.pr.mb-xs
                                each variant in ['-light', '', '-dark']
                                    .col-md-4
                                        - var val = Math.random() * 100;
                                        progress.progress(class=color + variant, value=val, max="100")
                                            div.progress(class=color + variant)
                                                span.progress-bar(style='width: ' + val + '%;')= val + '%'




append init-script
    script.
        packadic.Application.instance.booted(function (app) {
            /** @var {LayoutComponent} layout */
            var layout = app[0].layout;
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $(e.target).parent().addClass('active')
                $(e.relatedTarget).removeClass('active');
            })

        });
